In [59]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Jouke\Documents\evedata-logger\output\market_data_with_names_merged.csv', parse_dates=['date'])

In [60]:
daily_volume = df.groupby(['type_id', 'date'])['volume'].sum().reset_index()

In [61]:
avg_daily_volume = daily_volume.groupby('type_id')['volume'].mean().reset_index()
avg_daily_volume.columns = ['type_id', 'avg_daily_volume']
avg_daily_volume.head()

   type_id  avg_daily_volume
0       18      2.649224e+06
1       19      9.194245e+02
2       20      2.356823e+06
3       21      4.479356e+03
4       22      6.780989e+03

In [62]:
# Calculate spread using highest and lowest prices as proxies for ask/bid
df['spread'] = df['highest'] - df['lowest']

# Compute average spread for each type_id (item)
avg_spread = df.groupby('type_id')['spread'].mean().reset_index()
avg_spread.columns = ['type_id', 'avg_bid_ask_spread']

# Optionally, add item names for clarity
avg_spread = avg_spread.merge(df[['type_id', 'type_name']].drop_duplicates(), on='type_id', how='left')

# Show result
avg_spread.head()

   type_id  avg_bid_ask_spread    type_name
0       18            2.520849  Plagioclase
1       19          901.361823    Spodumain
2       20           48.722466      Kernite
3       21           41.527671   Hedbergite
4       22          108.202740      Arkonor

In [ ]:
# Assuming avg_daily_volume DataFrame already exists
liquidity = avg_daily_volume.merge(avg_spread, on='type_id', how='left')


liquidity = liquidity[['type_id', 'type_name', 'avg_daily_volume', 'avg_bid_ask_spread']]
liquidity.sort_values('avg_daily_volume', ascending=False).head(10)

liquidity = liquidity.reset_index(drop=True) #Drop the merged index 
display(liquidity.head(10))

   type_id    type_name  avg_daily_volume  avg_bid_ask_spread
0       18  Plagioclase      2.649224e+06            2.520849
1       19    Spodumain      9.194245e+02          901.361823
2       20      Kernite      2.356823e+06           48.722466
3       21   Hedbergite      4.479356e+03           41.527671
4       22      Arkonor      6.780989e+03          108.202740
5       34    Tritanium      5.263983e+09            0.114986
6       35      Pyerite      2.737269e+09            0.964164
7       36     Mexallon      6.420486e+08            3.635945
8       37       Isogen      2.357809e+08           12.230959
9       38      Nocxium      4.661628e+07           37.536986